@font-face {
  font-family: futura1;
  src: url("../public/futura/futura\ medium\ bt.ttf");
}
@font-face {
  font-family: futura;
  src: url("../public/futura/futura\ light\ bt.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: futura;
}
h1,h2 {
  font-family: futura1;
}
html, body {
  width: 100%;
  height: 100%;
}
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  /* font-family: 'Poppins', sans-serif; */
  font-family: futura;
}
.loadingScreen {
  width: 100vw;
  height: 100vh;
  background: #151515;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  color: white;
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loadingScreen .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loadingScreen h2 {
  margin-bottom: 20px;
}
.loadingScreen .progressBar {
  width: 300px;
  height: 30px;
  background: black;
}
.loadingScreen .progressFill {
  height: 100%;
  background: purple;
  transition: width 0.2s;
}
.loadingScreen .progressUrl {
  color: gray;
  margin-top: 30px;
  font-size: 0.8em;
}
.loadingScreen.finished {
  opacity: 0;
  pointer-events: none;
}
.titleScreen .topLeft {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  font-family: futura;
  /* padding: 100px; */
}
/* .titleScreen button {
  color: white;
  background: transparent;
  border-radius: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100px;
  height: 50px;
  position: absolute;
  bottom: 100px;
  right: 100px;
  border: solid purple;
  transition: all 0.3s;
} */

#webgl {
  width: 100vw;
  height: 100vh;
  display: block;
}


#controls {
  /* width: 100%;
  height: 100%; */
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  color: white;
  position: absolute;
  bottom: 2%;
  right: 5%;
}
#controls button {
  color: white;
  background: transparent;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  border: solid purple;
  transition: all 0.3s;
} 
#controls button:hover {
  background: purple;
}
