@font-face {
  font-family: futura1;
  src: url("/futura/futuraMedium.ttf");
}
@font-face {
  font-family: futura;
  src: url("/futura/futuraLight.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: futura;
}
h1,h2 {
  font-family: futura1;
}
html, body {
  width: 100%;
  height: 100%;
}
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: futura;
}
.loadingScreen {
  width: 100vw;
  height: 100vh;
  background: #151515;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  color: white;
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loadingScreen .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loadingScreen h2 {
  margin-bottom: 20px;
}
.loadingScreen .progressBar {
  width: 300px;
  height: 30px;
  background: black;
}
.loadingScreen .progressFill {
  height: 100%;
  background: purple;
  transition: width 0.2s;
}
.loadingScreen .progressUrl {
  color: gray;
  margin-top: 30px;
  font-size: 0.8em;
}
.loadingScreen.finished {
  opacity: 0;
  pointer-events: none;
}
.titleScreen .topLeft {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: white;
  font-family: futura;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
}
#webgl {
  width: 100vw;
  height: 100vh;
  display: block;
}
#controls {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: white;
}
#controls #items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
#item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
}
#controls button {
  color: white;
  background: transparent;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  border: solid purple;
  transition: all 0.3s;
} 
#controls button:hover {
  background: purple;
}
#time {
  font-size: 1rem;
}
#audio-file-input {
  display: none;
}
#upload-audio-btn {
  padding: 10px 30px !important;
  color: white;
  cursor: pointer;
}
#audio-file-label {
  color: white;
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
} 



.socials {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}
.socials a {
  text-decoration: none;
  color: white;
}
.tp-dfwv {
  max-width: 100vw;
  box-sizing: border-box;
  transition: transform 0.3s ease;
}
.bottom-to-top {
  transform-origin: bottom left;
  animation: slideUp 0.3s ease-out forwards;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@media (max-width: 600px) {
  .tp-dfwv {
    font-size: 12px;
  }
  .socials {
    display: none;
  }
  #controls #items {
    flex-direction: column;
  }
}

body {
  /* background: radial-gradient(circle at center, #1C0F2A, #151515); */
  /* background: radial-gradient(circle at center, #140A1F, #151515); */
  background: radial-gradient(circle at center, #140A1F, #0F0F14);
  /* background: radial-gradient(circle at center, #09040e, #0F0F14); */
}
